    <link rel="stylesheet" href="{{uiRootPath}}/css/pdf.css">
{{#if page.attributes.pagedjs-title-page}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/pdf/title-page-numbering.css">
{{else}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/pdf/title-document-numbering.css">
{{/if}}
{{#if page.attributes.pagedjs-book}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/pdf/book.css">
{{/if}}
{{#if page.attributes.pagedjs-svg-icons}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/pdf/fa.css">
{{/if}}
