<!DOCTYPE html>
<html dir="ltr"{{{page.attributes.pagedjs-lang-attr}}}>
  <head>
{{> pdf-head defaultPageTitle='Untitled'}}
  </head>
  <body {{{page.attributes.pagedjs-body-attrs}}}>
{{{page.contents}}}
{{> pdf-footer}}
  </body>
</html>
